<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QmlWidgetTranslator</Name>
    <Version>1.0.0</Version>
    <Title>QmlWidgetTranslator by Light Wizzard</Title>
    <Publisher>Light-Wizzard</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>QmlWidgetTranslator</StartMenuDir>
    <TargetDir>@HomeDir@/QmlWidgetTranslator</TargetDir>
</Installer>
